<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Accessories</h1>
        <p>Welcome to our array of fantastic accessories, where your dice find their luxurious homes! Amidst your travels and adventures, enhance your collection with our finely crafted accessories that complement your treasures.</p>
        <p>Behold the majestic Dice Towers that elevate the roll of every die to a grand spectacle, adding an aura of enchantment to your gaming sessions.</p>
        <p>Discover our exceptional Dice Jails, a fortress of restraint for unruly dice, ensuring they stay in line and behave throughout your daring quests.</p>
        <p>From stylish containers to innovative solutions, our accessories will elevate your gaming experience and add a touch of wonder to your tabletop adventures. Embrace the enchantment and fortify your arsenal!</p>
        <hr>
    </div>
    
    <!-- Product List Section -->
<div id="product-list">
    <!-- Display your products here -->
    <% if (products && products.length) { %>
        <% products.forEach(product => { %>
            <div class="product" data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= product.price %>">
                <img src="<%= product.image %>" alt="<%= product.name %>" width="150" height="150" style="border: 1px dotted #676767;">
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                <p>$<%= product.price.toFixed(2) %></p><BR>
                
                <!-- Add to Cart Form -->
                <!-- Add to Cart Form -->
            <form action="/accessories/add-to-cart/<%= product.id %>" method="POST">
                <button type="submit">Add to Cart</button>
            </form>

            </div>
        <% }); %>
    <% } else { %>
        <p>No products available.</p>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>