<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Admin</h1>
        <p>
            <hr>
        </p>
    </div>
    
    <div class="main-content">
        <h4>User Management</h4>
        <% if (message) { %>
            <div class="alert alert-<%= message_style %> alert-dismissible fade show" role="alert">
                <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Admin Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < table.length; i++ ) { %>
                    <tr>
                        <td><%= table[i].id %></td>
                        <td><%= table[i].username %></td>
                        <td><%= table[i].isAdmin %></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="--bs-btn-font-size: 0.575rem;">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <form method="POST" action="/admin">
                                        <input type="hidden" name="username" value="<%= table[i].username %>">
                                        <li><button class="dropdown-item" type="submit" value="action_admin" name="action">Toggle Admin Status</button></li>
                                        <li><button class="dropdown-item" type="submit" value="action_delete" name="action">Delete Account</button></li>
                                    </form>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include('../partials/footer.ejs') %>