<%- include('../partials/headerNavHero.ejs') %>

<!-- Main Content Section -->
<div class="text-container">
    <h1>My Cart</h1>

    <% if (cart.length > 0) { %>
        <ul>
            <% cart.forEach((product, index) => { %>
                <li>
                    <%= product.name %> - $<%= product.price.toFixed(2) %>
                    <!-- Add a form to delete the product -->
                    <form action="/delete-product" method="post">
                        <input type="hidden" name="index" value="<%= index %>">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>

        <p>Total Price: $<%= totalPrice.toFixed(2) %></p>

        <!-- Checkout Form -->
        <a href="/checkout">
            <button>Checkout</button>
          </a>
    <% } else { %>
        <p>Your cart is empty</p>
    <% } %>
</div>


<%- include('../partials/footer.ejs') %>
