<%- include('../partials/headerNavHero.ejs') %>

<!-- Main Content Section -->
<div class="text-container">
    <h1>Our Dice</h1>
    <p>Behold the dazzling array of dice that awaits, each set a mesmerizing masterpiece crafted to ignite the flames of excitement in your tabletop adventures. In our enchanted emporium, the language of the dice is spoken fluently, with every facet reflecting a story waiting to be told.</p>
</div>

<!-- Product List Section -->
<div id="product-list">
    <!-- Display your products here -->
    <% if (products && products.length) { %>
        <% products.forEach(product => { %>
            <div class="product" data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= product.price %>">
                <img src="<%= product.image %>" alt="<%= product.name %>" width="150" height="150" style="border: 1px dotted #676767;">
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                <p>$<%= product.price.toFixed(2) %></p><BR>
                
                <!-- Add to Cart Form -->
                <!-- Add to Cart Form -->
            <form action="/dice/add-to-cart/<%= product.id %>" method="POST">
                <button type="submit">Add to Cart</button>
            </form>

            </div>
        <% }); %>
    <% } else { %>
        <p>No products available.</p>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>
