<%- include('../partials/headerNavHero.ejs') %>

<!-- Main Content Section -->
<div class="text-container">
    <h1>Our Dice</h1>
    <p>Behold the dazzling array of dice that awaits, each set a mesmerizing masterpiece crafted to ignite the flames of excitement in your tabletop adventures. In our enchanted emporium, the language of the dice is spoken fluently, with every facet reflecting a story waiting to be told.</p>
</div>

<!-- Product List Section -->
<div id="product-list">
    <!-- Display your products here -->
    <% if (products && products.length) { %>
        <% for (let i = 0; i < products.length; i += 4) { %>
            <div class="product-row">
                <% for (let j = i; j < i + 4 && j < products.length; j++) { %>
                    <div class="product" data-id="<%= products[j].id %>" data-name="<%= products[j].name %>" data-price="<%= products[j].price %>">
                        <img src="<%= products[j].image %>" alt="<%= products[j].name %>" width="150" height="150" style="border: 1px dotted #676767;">
                        <h2><%= products[j].name %></h2>
                        <p><%= products[j].description %></p>
                        <p>$<%= products[j].price.toFixed(2) %></p><br>
                        
                        <!-- Add to Cart Form -->
                        <form action="/dice/add-to-cart/<%= products[j].id %>" method="POST">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>
    <% } else { %>
        <p>No products available.</p>
    <% } %>
</div>


<%- include('../partials/footer.ejs') %>
